header {
  padding: 10px 0;
  box-shadow: rgba(255, 255, 255, .15) 0 0 0 1px;
  z-index: 1;
  -webkit-transition: all, 1s;
  -moz-transition: all, 1s;
  -ms-transition: all, 1s;
  -o-transition: all, 1s;
  transition: all, 1s;

}

header a  {

  text-transform: uppercase;
  border-bottom: #253646 dashed 1px;
  color: #0f0f0f;
  text-decoration: none;
  transition: all, .2s;
}

header a:hover ,
header a:focus {
  font-family: "BebasRegular", sans-serif;
  text-transform: uppercase;
  border-bottom: rgba(255, 255, 255, 1) dashed 1px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  transition: all, .2s;
}
header a:hover {
  border-bottom: #fff dashed 1px;
  font-family: "BebasRegular", sans-serif;
  color: #101010;
  text-decoration: none;
  transition: all, .2s;
}

header .address {
  font-family: "BebasBold", sans-serif;
  text-align: center;

}

header .address i.metka{
  background-image: url("/images/header/header_sprite.png?embed");
  background-position: 62%;
  background-repeat: no-repeat;
  width:30px;
  height: 35px;
  display: block;
  margin: 0 auto;

}

header .address .sity_name {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #d12f22;
    line-height: .8em;
    display: inherit;
}

header .address a  {
  font-family: "BebasBold", sans-serif;
  font-size: 1.2em;
}



header .phone a.call_btn{

  font-size: .75em;

}




header .logo {
  text-align: center;
}

header .logo strong {
  display: block;
  font-size: 1.4em;
  text-transform: uppercase;
  line-height: .8em;
}

header .logo a {border: none;}
header .logo img {margin: 0 auto;}

header .telephone i {
  background-image: url("/images/header/header_sprite.png?embed");
  background-position: 96%;
  background-repeat: no-repeat;
  width:30px;
  height: 35px;
  display: block;
  margin: 0 auto;

}

header .telephone {
  text-align: center;
  font-family: "BebasBold", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #d12f22;
  line-height: 1em;
  padding-bottom: 10px;

}

header .telephone .operator_code{
  color: white;
}

