/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {


}




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

//.container, .container-fluid {padding: 0;}
//  header {height: 40px; padding: 5px;}
//  header .address {
//    text-align: right;
//  }
//  header .address i.metka {
//    display: inline-block;
//  }
//  header .phone  {
//    text-align: right;
//  }
//  header .phone i {
//    display: inline-block;
//  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
//  .container, .container-fluid {padding: 0;}


//  body { font-size:1.2em;}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
//  body { font-size:1.4em;}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {


}