/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

  .container{padding: 0;}
  .col-xs-6 {padding: 0;}
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .container{padding: 0 15px;}
  .col-xs-6 {padding: 0 15px;}
}