<div class="container">

<%= partial 'layouts/components/service-menu' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Наименование</th>
      <th>Цена в рублях</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>John</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Peter</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
    <tr>
      <td>3</td>
      <td>John</td>
    </tr>
  </tbody>
  </table>


</div>