.container
  .raw
    .col-md-6.col-sm-6
      %p.copyright
        ©
        = Time.now.year
        Maslov Service
    .col-md-6.col-sm-6
      %p.create_by
        %a{href: '#exsisto' }
          Exsisto

