.container
  %nav
    %ul
      %li
        =link_to "Контакты", url(:page, :contact), id:'to_contact', :remote => true
      %li
        =link_to "Сервис", url(:page, :service), id:'to_service', :remote => true
